---
layout: default
---
<article class="post">

  <div class="post-content">
    {{ content }}

    <div class="projects row">
    {% assign tokens = page.url | split: "/" %}
    {% assign thisIsSolutions = false %}
    {% if tokens contains 'solutions' %}
        {% assign thisIsSolutions = true %}
    {% endif %}
    {% for post in paginator.posts %}

    {% unless tokens contains false and post.categories contains 'solutions' %}
    <div class="project-item col-md-4 col-sm-6 col-xs-12" data-tags='{{ post.tags | jsonify | downcase }}'>
    	<div class="well project-outer">
    		<div class="project-inner">
    			<div class="project-img bordered" style="background-image: url('{{ site.baseurl }}/static/thumbnails/{{ post.image }}');"></div>
                {% if post.url %} <a href="{{site.baseurl}}{{ post.url }}"> {% endif %}
    			<h3 class="project-headlines">{{ post.title }}</h3>
    			{% if post.url %} </a> {% endif %}
    			<div class="project-content">
				<!--
    				<div class="tag-holder">
    				{% if post.tags %} 
    					{% for j in post.tags %}
    					<span class="label tags tag-filter" data-tag="{{ j | downcase }}">{{ j }}</span>
    					{% endfor %}
    				{% endif %}
    				</div>
				-->
    				
    			</div>
    			<div class="project-footer"> 
    				<span class="project-timeline">{{ post.date }}</span>
				{% if post.url %} 
    				<a href="{{site.baseurl}}{{ post.url }}" class="btn btn-info btn-raised btn-sm project-link">View</a>
    				{% endif %}
                    {% assign solns = site.categories.solutions | where: "title", post.title  %}
                    {% assign soln = solns | first %}
                    {% assign solnum = solns | size %}
                    {% if solnum > 0 %} <a href="{{site.baseurl}}{{soln.url}}" class="btn btn-raised btn-success btn-sm project-link">Solutions</a> {% endif %}

    			</div>
    		</div>
    	</div>
        </div>    
    {% endunless %}
    {% endfor %}
    </div>
    <div class="row">
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
        <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
        </li>
      {% else %}
        <li class="previous disabled"><span aria-hidden="true">&laquo;</span></li>
      {% endif %}

      
      {% assign base = tokens[1] | prepend: '/' | prepend: site.baseurl | append: '/' %}
      <li><a href="{{base}}">First</a></li>
      

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active">
             <a>{{ page }}<span class="sr-only">(current)</span></a>
          </li>
        {% elsif page == 1 %}
          <li><a href="{{base}}">{{ page }}</a></li>
        {% else %}
          <li>
            <a href="{{ site.pagination.permalink | prepend: base | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <li><a href="{{ paginator.total_pages | prepend: base }}/">Last</a></li>

      {% if paginator.next_page %}
        <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
        </li>
      {% else %}
        <li class="next disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
</div><!-- end #home -->
    </div>
  </div>

</article>
